.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background-color: var(--color-bg-surface);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media (min-width: 640px) {
  .board {
    flex-direction: row;
  }
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}
